.header__nav-link {
  text-decoration: none;
  color: #000;
  line-height: 44px;
  margin: 20px 0 26px;
}

.header__nav-link:first-of-type {
  margin-left: 42px;
}

.header__nav-link:last-of-type {
  margin-right: 41px;
}
