.swiper-pagination-bullet {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #b1b1b1;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 40px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 17.5px;
}
